<!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p calss="notice"><%= notice %></p>
    <p calss="alert"><%= alert %></p>
    <% if user_signed_in? %>
     <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <% end %>
  </body>
</html>
